---------------------------------------------------------------------
-- Local Configuration File (local.lua)
---------------------------------------------------------------------
-- This sets the configuration locally for the machine and overrides
-- the default config in config.lua
--
-- Copy this file to local.lua and change as nessessary.
---------------------------------------------------------------------
local config = {

  modkey = "Mod4",
  altkey = "Mod1",

  terminal     = "termite" or "xterm",
  term_argname = "--name %s",

  editor     = os.getenv("EDITOR") or "vi" or "nano",
  gui_editor = "gvim",

  browser    = "firefox",
  graphics   = "gimp",

  xephyr_resolution = "1024x768",

  -- Sets the layout of widgets and bars
  -- For a custom layout just duplicate an existing layout and customize
  -- it to your needs.
  layout = "default",

}

return config
